---
layout: default
title: Kunder och uppdrag
description: "Film och varumärkesberättelser, innehållsstrategi och metoder för kampanjutvärdering; allt det där som beskrivs under tjänster kan bli ganska olika saker. Här är några exempel:"
color1: "#e4006e"
color2: "#effc13"
color3: "#00b295"
color4: "#940797"
---
{% assign ordered_cases = site.cases | sort: "all_order" %}

<div class="Wrapper">
  <header class="ContentHead">
    <div class="Grid Grid--padded Grid--compensatePadded Grid--center">
      <div class="Grid-item Grid-item-m--22-of-24 Grid-item-ml--20-of-24 Grid-item-l--20-of-24 Grid-item-s--push-1 Grid-item-m--push-3 Grid-item-l--push-4">
        <h1 class="ContentHead-heading">Kunder och uppdrag</h1>

        <div class="ContentHead-lead"><p>Film och varumärkesberättelser, innehållsstrategi och metoder för kampanjutvärdering; <a href="/tjanster">allt det där som beskrivs under tjänster</a> kan bli ganska olika saker. Här är några exempel:</p></div>
      </div>
    </div>
  </header>
</div>

{% for case in ordered_cases %}
  <div class="Section Section--inverted Section--heroImage">
    <a href="{{ case.url }}" class="Section-link">
      <div class="Section-imageWrapper">
        <figure class="Section-imageFigure">
          <picture class="Section-image">
            <source srcset="/images/cases/{{ case.title | slugify: "latin" }}/teaser.jpg 750w" sizes="100vw">
            <img alt="" src="/images/cases/{{ case.title | slugify: "latin" }}/teaser.jpg" class="Section-imageObject">
          </picture>
        </figure>
      </div>
      <div class="Section-content">
        <div class="Wrapper">
          <div class="Grid Grid--center Grid--padded Grid--compensatePadded">
            <div class="Grid-item Grid-item-s--22-of-24 Grid-item-m--18-of-24 Grid-item-ml--17-of-24 Grid-item-l--16-of-24">
              <div class="Label Section-label">{{ case.client }}</div>
              <h1 class="Section-heading">{{ case.intro_heading }}</h1>
              <div class="Section-lead">
                {{ case.teaser_body }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
{% endfor %}

<div class="Wrapper u-spacingTopDecaSteep">
  <div class="Grid Grid--padded Grid--compensatePadded Teasers">
    {% for case in ordered_cases %}
      <div class="Grid-item Grid-item-s--12-of-24 Grid-item-l--8-of-24">
        <div class="Teaser Teasers-teaser">
          <a href="{{ case.url }}" class="Teaser-link">
            <picture class="Teaser-image">
              <source srcset="/images/cases/{{ case.title | slugify: "latin" }}/teaser.jpg 750w" sizes="100vw">
              <img alt="" src="/images/cases/{{ case.title | slugify: "latin" }}/teaser.jpg" class="Teaser-imageObject">
            </picture>
            <div class="Teaser-body">
              <div class="Label Label--small Teaser-label">{{ case.client }}</div>
              <h1 class="Teaser-heading">{{ case.intro_heading }}</h1>
              <div class="Teaser-body">
                {{ case.teaser_body }}
              </div>
            </div>
          </a>
        </div>
      </div>
    {% endfor %}
  </div>
</div>