---
layout: default
body_class: hasHero
color1: "#e4006e"
color2: "#effc13"
color3: "#00b295"
color4: "#940797"
title: KWD Studio – Innehållsdriven marknadsföring
description: Vi hjälper våra kunder med innehållsdriven marknadsföring i digitala och sociala kanaler.
clean_title: true
---

{% assign ordered_cases = site.cases | where_exp: "item", "item.startpage_order > 0" | sort: "startpage_order" %}

{% for case in ordered_cases limit: 1 %}
  {%
    include case.html
    url=case.url
    title=case.title
    client=case.client
    heading=case.intro_heading
    body=case.teaser_body
  %}
{% endfor %}

<div class="Section Section--centered">
  <div class="Section-content">
    <div class="Wrapper">
      <div class="Section-contentInner">
        <div class="Section-body">
          <p>Vi rör oss i gränslandet mellan innehållsdriven marknadsföring och reklam, alltid med målgruppens intressen först. Varje varumärke har sin egen kultur och kontext. Vårt jobb är att förstå och omsätta den kulturen till träffsäker kommunikation.</p>
          <ul class="LinkList LinkList--inline">
            <li class="LinkList-item"><a href="{% link case.html %}">Case</a></li>
            <li class="LinkList-item"><a href="{% link om-oss.html %}">Om oss</a></li>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="Wrapper">
  <div class="Grid Grid--padded Grid--compensatePadded Teasers">
    {% for case in ordered_cases limit: 6 offset: continue %}
      <div class="Grid-item Grid-item-s--12-of-24 Grid-item-l--8-of-24">
        {%
          include teaser.html
          url=case.url
          image=case.image
          label=case.client
          heading=case.intro_heading
          body=case.teaser_body
        %}
      </div>
    {% endfor %}
  </div>
</div>