---
layout: default
body_class: hasHero
color1: "#e4006e"
color2: "#effc13"
color3: "#00b295"
color4: "#940797"
title: KWD Studio – Marknadsföring och kommunikation
description: Prisbelönt kreativ byrå med spetskompetens inom digitala plattformar och beteenden.
clean_title: true
---

{% assign ordered_cases = site.cases | sort: "all_order" %}

{% for case in ordered_cases limit: 1 %}
  {%
    include case.html
    url=case.url
    title=case.title
    client=case.client
    heading=case.teaser_heading
    body=case.teaser_body
  %}
{% endfor %}

<div class="Section Section--centered">
  <div class="Section-content">
    <div class="Wrapper">
      <div class="Section-contentInner">
        <div class="Section-body">
          <p>En prisbelönt kreativ byrå med spetskompetens inom digitala plattformar och beteenden. Vinnare av Årets Byrå 2025! <b/> Varje varumärke har sin kultur och kontext. Vårt jobb är att förstå den kontexten och omsätta den till kommunikationslösningar som tilltalar målgruppen. Behöver du och ditt företag hjälp eller vill du vara del av vårt nätverk? <a href="https://kwdstudio.se/kontakt">Hör av dig!</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="Wrapper">
  <div class="Grid Grid--padded Grid--compensatePadded Teasers">
    {% for case in ordered_cases limit: 9 offset: continue %}
      <div class="Grid-item Grid-item-s--12-of-24 Grid-item-l--8-of-24">
        {%
          include teaser.html
          url=case.url
          image=case.image
          label=case.client
          heading=case.teaser_heading
          body=case.teaser_body
        %}
      </div>
    {% endfor %}
  </div>
</div>

{% include clients.html %}

