@import "../config/spacing";

@import "../functions/color";

@import "repetitivo/helpers/styles-from-map";

@import "repetitivo/patterns/list";

//
// Component: Clients
// =============================================================================
$component-name: "Clients";
$component-base: ".#{$component-name}";

$client-max-width: (
  default: 60px,
  s: 70px,
  l: 100px,
);

#{$component-base} {
  overflow: hidden;

  // Element: Inner
  // ---------------------------------------------------------------------------
  &-inner {
    @include list-reset;
    @include styles-from-map((
      margin-left: $spacing-base-steep-neg,
      margin-right: $spacing-base-steep-neg,
    ));

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  // Element: Client
  // ---------------------------------------------------------------------------
  &-client {
    @include styles-from-map((
      margin-left: $spacing-base-steep,
      margin-right: $spacing-base-steep,
      margin-bottom: $spacing-deci-gentle,
    ));
    @include styles-from-map((
      width: $client-max-width,
    ));
  }

  svg {
    width: 100%;
    fill: color(neutral, -8);
  }
}
