@import "../config/spacing";

@import "../functions/color";
@import "../functions/intrinsic-ratio";
@import "../functions/inverse-map-values";

@import "repetitivo/helpers/styles-from-map";

@import "repetitivo/patterns/list";

@import "../patterns/flex-embed";

//
// Component: Clients
// =============================================================================
$component-name: "Clients";
$component-base: ".#{$component-name}";

#{$component-base} {
  @include list-reset;
  @include styles-from-map((
    margin-bottom: inverse-map-values($spacing-base-gentle),
  ));

  // Element: Client
  // ---------------------------------------------------------------------------
  &-client {
    @include styles-from-map((
      margin-bottom: $spacing-base-gentle,
    ));
  }

  // Element: Client Inner
  // ---------------------------------------------------------------------------
  &-clientInner {
    @include flex-embed-container;

    padding-top: intrinsic-ratio(16, 9);
  }

  // Element: Client Inner Inner
  // ---------------------------------------------------------------------------
  &-clientInnerInner {
    @include flex-embed-item;
    @include styles-from-map((
      padding-left: $spacing-deca-gentle,
      padding-right: $spacing-deca-gentle,
      padding-top: $spacing-base-gentle,
      padding-bottom: $spacing-base-gentle,
    ));

    align-items: center;
    display: flex;
    justify-content: center;
  }

  svg {
    max-height: 100%;
    width: 100%;
    fill: color(neutral, -7);
  }
}
