@import "../config/fonts";
@import "../config/spacing";

@import "../functions/color";

@import "../helpers/typography";

@import "repetitivo/helpers/styles-from-map";

@import "repetitivo/patterns/list";

//
// Component: Co-workers
// =============================================================================
$component-name: "CoWorkers";
$component-base: ".#{$component-name}";

$co-workers-co-worker-width: 800px;

#{$component-base} {
  @include list-reset;

  // Element: Co-worker
  // ---------------------------------------------------------------------------
  &-coWorker {
    @include styles-from-map((
      margin-bottom: $spacing-deca-gentle,
    ));

    display: flex;

    max-width: $co-workers-co-worker-width;
  }

  // Element: Image Wrapper
  // ---------------------------------------------------------------------------
  &-imageWrapper {
    @include styles-from-map((
      margin-right: $spacing-base-gentle,
    ));

    width: 20%;
    flex: 0 0 auto;
  }

  // Element: Body
  // ---------------------------------------------------------------------------
  &-body {
    @include typography($untitled-serif, centi-gentle, tight);
  }

  // Element: Heading
  // ---------------------------------------------------------------------------
  &-heading {
    font: inherit;
    font-weight: $bold-font-weight;
  }
}
