@import "../config/fonts";
@import "../config/spacing";

@import "../functions/color";

@import "../helpers/typography";

@import "repetitivo/helpers/respond-to";
@import "repetitivo/helpers/styles-from-map";

//
// Component: Contact Cta
// =============================================================================
$component-name: "ContactCta";
$component-base: ".#{$component-name}";

$contact-cta-max-width: 800px;
$contact-cta-text-lead-offset: 8%;
$contact-cta-image-width: (
  default: 30%,
  s: 30%,
);
$contact-cta-text-width: (
  default: 70%,
  s: 70%,
);

#{$component-base} {
  overflow: hidden;

  // Element: Inner
  // ---------------------------------------------------------------------------
  &-inner {
    display: flex;
    flex-direction: row-reverse;

    margin-left: auto;
    margin-right: auto;

    @include respond-to(s) {
      flex-direction: row;

      max-width: calc(#{$contact-cta-max-width} + (#{$contact-cta-text-lead-offset * 2}));

      padding-left: $contact-cta-text-lead-offset;
      padding-right: $contact-cta-text-lead-offset;

      overflow: hidden;
    }
  }

  // Element: Image
  // ---------------------------------------------------------------------------
  &-image {
    @include styles-from-map((
      padding-left: $spacing-base-gentle,
    ), $include-breakpoints: default);
    @include styles-from-map((
      padding-right: $spacing-base-gentle,
    ), $exclude-breakpoints: default);
    @include styles-from-map((
      width: $contact-cta-image-width,
    ));

    flex: 0 0 auto;

    @include respond-to(s) {
      padding-left: 0;
    }
  }

  // Element: Text
  // ---------------------------------------------------------------------------
  &-text {
    @include styles-from-map((
      width: $contact-cta-text-width,
    ));
  }

  // Element: Text Lead
  // ---------------------------------------------------------------------------
  &-textLead {
    @include styles-from-map((
      padding-top: $spacing-base-gentle,
      padding-bottom: $spacing-base-gentle,
      margin-bottom: $spacing-milli-gentle,
    ));
    @include styles-from-map((
      padding-left: $spacing-base-gentle,
      padding-right: $spacing-base-gentle,
    ), $exclude-breakpoints: default);

    position: relative;

    background: color(neutral, 8);

    &::before,
    &::after {
      content: "";

      position: absolute;

      z-index: -1;

      top: 0;

      width: 100%;
      height: 100%;

      background: color(neutral, 8);
    }

    &::before {
      right: 100%;
    }

    &::after {
      left: 100%;
    }
  }

  // Element: Heading
  // ---------------------------------------------------------------------------
  &-heading {
    @include typography($untitled-serif, base-gentle, tight);
  }

  // Element: Text Contact
  // ---------------------------------------------------------------------------
  &-textContact {
    @include styles-from-map((
      padding-left: $spacing-base-gentle,
      padding-right: $spacing-base-gentle,
    ), $exclude-breakpoints: default);
    @include typography($pitch-sans, base-gentle, tight);
  }
}
