@import "../config/fonts";
@import "../config/spacing";

@import "../functions/color";

@import "../helpers/typography";

@import "repetitivo/helpers/respond-to";
@import "repetitivo/helpers/styles-from-map";

//
// Component: Contact Cta
// =============================================================================
$component-name: "ContactCta";
$component-base: ".#{$component-name}";

$contact-cta-max-width: 700px;
$contact-cta-image-size: (
  default: 80px,
  m: 140px,
);

#{$component-base} {
  display: flex;
  align-items: center;
  flex-direction: column;

  max-width: $contact-cta-max-width;

  margin-left: auto;
  margin-right: auto;

  @include respond-to(s) {
    flex-direction: row;
  }

  // Element: Image Wrapper
  // ---------------------------------------------------------------------------
  &-imageWrapper {
    @include styles-from-map((
      padding-right: $spacing-base-gentle,
    ));

    flex: 0 0 auto;
  }

  // Element: Image
  // ---------------------------------------------------------------------------
  &-image {
    @include styles-from-map((
      width: $contact-cta-image-size,
      height: $contact-cta-image-size,
    ));

    border-radius: 50%;
  }

  // Element: Text
  // ---------------------------------------------------------------------------
  &-text {
    @include typography($untitled-serif, deci-gentle, tight);

    text-align: center;

    @include respond-to(s) {
      text-align: left;
    }
  }

  // Element: Body
  // ---------------------------------------------------------------------------
  &-body {
    font-style: italic;

    margin-bottom: 0.5em;
  }

  // Element: Text Contact
  // ---------------------------------------------------------------------------
  &-textContact {
  }
}
