@import "../config/fonts";
@import "../config/spacing";

@import "../functions/color";

@import "../helpers/typography";

@import "repetitivo/helpers/respond-to";
@import "repetitivo/helpers/styles-from-map";

@import "repetitivo/patterns/list";

//
// Component: Footer
// =============================================================================
$component-name: "Footer";
$component-base: ".#{$component-name}";

#{$component-base} {
  @include styles-from-map((
    margin-top: $spacing-giga-steep,
    padding-bottom: $spacing-kilo-gentle,
  ));

  // Element: Logotype
  // ---------------------------------------------------------------------------
  &-logotype {
    @include styles-from-map((
      margin-bottom: $spacing-hecto-gentle,
    ));
  }

  // Element: Part
  // ---------------------------------------------------------------------------
  &-part {
    @include typography($untitled-sans, deci-steep, normal);
    @include styles-from-map((
      margin-bottom: $spacing-hecto-gentle,
    ));

    > p,
    > ul {
      margin-bottom: 0;
    }

    a {
      text-decoration: none;
      color: color(neutral, -10);
    }
  }

  // Element: Nav
  // ---------------------------------------------------------------------------
  &-nav {
    @include styles-from-map((
      margin-top: $spacing-base-gentle,
      margin-bottom: $spacing-kilo-gentle,
    ));
    @include list-reset;
    @include typography($untitled-sans, deci-gentle, tight);
    font-weight: $black-font-weight;

    @include respond-to(m) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  // Element: Nav Item
  // ---------------------------------------------------------------------------
  &-navItem {
    margin-right: 2em;
    margin-bottom: 0.5em;

    @include respond-to(m) {
      margin-bottom: 0;
    }

    &:last-child {
      margin-right: 0;
      margin-bottom: 0;
    }
  }

  // Element: Nav Link
  // ---------------------------------------------------------------------------
  &-navLink {
    text-decoration: none;
    color: color(neutral, -10);
    @include styles-from-map((
      margin-bottom: $spacing-hecto-gentle,
    ));
  }

  // Element: Copyright
  // ---------------------------------------------------------------------------
  &-copyright {
  }

  // Element: Copyright Content
  // ---------------------------------------------------------------------------
  &-copyrightContent {
    @include typography($untitled-sans, milli-gentle, normal);
    color: color(neutral, -4);
  }
}
