@import "../config/spacing";
@import "../config/typography";

@import "repetitivo/helpers/styles-from-map";

//
// Component: Heading
// ============================================================================

$component-name: "Heading";
$component-base: ".#{$component-name}";

#{$component-base} {
  @include styles-from-map((
    font-size: $heading-font-size,
    margin-bottom: $spacing-xxs,
  ));

  line-height: $heading-line-height;
  text-transform: uppercase;

  // Compensate for tall characters getting clipped
  margin-top: -5px;
  padding-top: 5px;

  // Variant: Deca
  // --------------------------------------------------------------------------
  &--deca {
    @include styles-from-map((
      font-size: $hecto-font-size,
      margin-bottom: $spacing-xxs
    ));
  }
}
