@import "../config/spacing";

@import "../functions/color";

@import "repetitivo/helpers/respond-to";
@import "repetitivo/helpers/styles-from-map";

//
// Component: Header
// =============================================================================
$component-name: "Header";
$component-base: ".#{$component-name}";

#{$component-base} {
  .hasHero & {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 900;
  }

  // Element: Inner
  // ---------------------------------------------------------------------------
  &-inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    @include styles-from-map((
      padding-top: $spacing-deca-gentle,
      padding-bottom: $spacing-deca-gentle,
    ));
  }

  // Element: Logotype
  // ---------------------------------------------------------------------------
  &-logotype {

  }

  // Element: Menu Toggle
  // ---------------------------------------------------------------------------
  &-menuToggle {
    @include respond-to(m) {
      display: none;
    }
  }

  // Element: Nav
  // ---------------------------------------------------------------------------
  &-nav {
    display: none;

    @include respond-to(pre-m) {
      flex: 0 0 100%;
      @include styles-from-map((
        margin-top: $spacing-deca-gentle,
      ));
    }

    @include respond-to(m) {
      display: block;
    }

    // Context: Nav is open
    // ---------------------------------------------------------------------------
    .navigation-is-open & {
      display: block;
    }

  }

  // Context: Nav is open
  // ---------------------------------------------------------------------------
  .navigation-is-open & {
    background: color(neutral, -10);
  }

}
