@import "../config/components/wrapper";
@import "../config/fonts";
@import "../config/spacing";

@import "../functions/color";

@import "repetitivo/helpers/respond-to";
@import "repetitivo/helpers/styles-from-map";

@import "../helpers/typography";

//
// Component: Intro
// =============================================================================
$component-name: "Intro";
$component-base: ".#{$component-name}";

$intro-image-width: 60%;
$intro-logotype-width: (
  default: 64%,
  s: 50%,
  m: 45%,
);
$intro-logotype-bottom: (
  default: 100%,
  s: 100%,
  m: 98%,
);
$intro-text-max-width: 1000px;
$intro-text-offset-top: -10vw;

#{$component-base} {
  // Element: Image Wrapper
  // ---------------------------------------------------------------------------
  &-imageWrapper {
    @include respond-to(m) {
      display: flex;
      justify-content: flex-end;
    }
  }

  // Element: Image
  // ---------------------------------------------------------------------------
  &-image {
    @include respond-to(m) {
      width: $intro-image-width;
    }
  }

  // Element: Text
  // ---------------------------------------------------------------------------
  &-text {
    position: relative;

    padding-left: $wrapper-spacing;

    margin-top: $intro-text-offset-top;
    margin-right: $wrapper-spacing;
  }

  // Element: Logotype
  // ---------------------------------------------------------------------------
  &-logotype {
    @include styles-from-map((
      width: $intro-logotype-width,
      bottom: $intro-logotype-bottom,
    ));

    position: absolute;

    z-index: 1;

    left: 0;

    transform: translate(0, 50%);

    @include respond-to(m) {
      transform: none;
    }

    svg {
      display: block;
    }
  }

  // Element: Text Inner
  // ---------------------------------------------------------------------------
  &-textInner {
    @include styles-from-map((
      padding-bottom: $spacing-hecto-steep,
      padding-right: $spacing-hecto-gentle,
    ));
    @include styles-from-map((
      padding-top: $spacing-mega-steep,
    ), $include-breakpoints: default s);
    @include styles-from-map((
      padding-top: $spacing-hecto-gentle,
    ), $exclude-breakpoints: default s);

    position: relative;

    max-width: $wrapper-max-width;

    margin-left: auto;
    margin-right: auto;

    background: color(white);

    &::before {
      content: "";

      position: absolute;

      top: 0;
      right: 100%;

      width: 100%;
      height: 100%;

      background: color(white);
    }
  }

  // Element: Text Inner Inner
  // ---------------------------------------------------------------------------
  &-textInnerInner {
    @include typography($untitled-serif, hecto-gentle, tight);

    max-width: $intro-text-max-width;
  }
}
