@import "../config/spacing";
@import "../config/typography";

@import "../helpers/typography";

@import "repetitivo/helpers/styles-from-map";

//
// Component: Label
// =============================================================================
$component-name: "Label";
$component-base: ".#{$component-name}";

#{$component-base} {
  @include typography($untitled-sans, centi-gentle, tight);

  display: inline-block;

  text-transform: uppercase;
  letter-spacing: 0.03em;

  // Variant: Small
  // ---------------------------------------------------------------------------
  &--small {
    @include typography($untitled-sans, milli-gentle, tight);
  }
}
