@import "../config/spacing";
@import "../config/typography";

@import "../helpers/typography";

@import "repetitivo/helpers/styles-from-map";

//
// Component: Label
// =============================================================================
$component-name: "Label";
$component-base: ".#{$component-name}";

#{$component-base} {
  @include typography($pitch-sans, deci-gentle, tight);
  @include styles-from-map((
    padding-left: $spacing-deci-gentle,
    padding-right: $spacing-deci-gentle,
    padding-top: $spacing-nano-gentle,
    padding-bottom: $spacing-nano-gentle,
  ));

  display: inline-block;

  border: 1px solid currentColor;
  border-radius: 2px;
}
