@import "../patterns/list";

//
// Component: Link List
// =============================================================================
$component-name: "LinkList";
$component-base: ".#{$component-name}";

#{$component-base} {
  @include list-reset;

  &-item {
  }

  &--inline {
    #{$component-base}-item {
      display: inline-block;
    }
  }

  &--inlineSpaced {
    #{$component-base}-item {
      @include styles-from-map((
        margin-right: $spacing-micro-gentle,
      ));
    }
  }

  &--withPoint {
    @include list-disc-inside;

    #{$component-base}-item {
      padding-right: .5em;

      &:first-child:before {
        display: none;
      }
    }
  }
}
