@import "../patterns/list";

//
// Component: Link List
// =============================================================================
$component-name: "LinkList";
$component-base: ".#{$component-name}";

#{$component-base} {
  @include list-disc-inside;

  &-item {
    padding-right: .5em;

    &:first-child:before {
      display: none;
    }
  }

  &--inline {
    #{$component-base}-item {
      display: inline-block;
    }
  }
}
