//
// Component: Logotype
// =============================================================================
$component-name: "Logotype";
$component-base: ".#{$component-name}";

$logotype-width: (
  default: 100px,
  m: 110px,
  l: 120px,
  xl: 135px,
);

#{$component-base} {
  display: block;
  @include styles-from-map((
    width: $logotype-width,
  ));

  &-vector {
    display: block;
  }

  &-path {
    fill: color(purple, -10);
  }

  &--header {
    @include styles-from-map((
      width: $logotype-width,
    ));

    #{$component-base}-path {
      .navigation-is-open &,
      .hasHero & {
        fill: color(white);
      }
    }
  }
}

