//
// Component: Logotype
// =============================================================================
$component-name: "Logotype";
$component-base: ".#{$component-name}";

$logotype-width: (
  default: 150px,
  m: 180px,
  l: 220px,
  xl: 250px,
);

#{$component-base} {
  @include styles-from-map((
    width: $logotype-width,
  ));

  display: block;
}
