//
// Component: Logotype
// =============================================================================
$component-name: "Logotype";
$component-base: ".#{$component-name}";

$logotype-width-header: (
  default: 100px,
  m: 110px,
  l: 120px,
  xl: 135px,
);

$logotype-width-footer: (
  default: 90px,
  m: 110px,
  l: 150px,
  xl: 180px,
);

#{$component-base} {
  display: block;

  &-vector {
    display: block;
  }

  &--header {
    @include styles-from-map((
      width: $logotype-width-header,
    ));
  }

  &--footer {
    @include styles-from-map((
      width: $logotype-width-footer,
    ));
  }
}
