@import "../config/fonts";
@import "../config/spacing";

@import "../functions/color";

@import "../helpers/typography";

@import "repetitivo/helpers/respond-to";
@import "repetitivo/helpers/styles-from-map";

@import "repetitivo/patterns/list";

//
// Component: Main Nav
// =============================================================================
$component-name: "MainNav";
$component-base: ".#{$component-name}";

#{$component-base} {
  color: color(purple, -10);

  // Element: List
  // ---------------------------------------------------------------------------
  &-list {
    @include typography($untitled-sans, deci-gentle, tight);
    font-weight: $black-font-weight;
    @include list-reset;


    display: flex;
    justify-content: center;

    @include respond-to(m) {
      justify-content: normal;
    }
  }

  // Element: Item
  // ---------------------------------------------------------------------------
  &-item {
    margin-left: 1.5em;

    &:first-child {
      margin-left: 0;
    }
  }

  // Element: Link
  // ---------------------------------------------------------------------------
  &-link {
    position: relative;

    color: currentColor;

    &:hover {
      color: currentColor;
      text-decoration: none;

      filter: brightness(0.5);
    }

    &.is-current {
      &::before {
        content: "";

        position: absolute;

        left: 0;
        bottom: 0;

        width: 100%;
        height: 1px;

        background: currentColor;
      }
    }
  }
}
