@import "../config/typography";

//
// Component: Meta
// =============================================================================
$component-name: "Meta";
$component-base: ".#{$component-name}";

#{$component-base} {
  @include styles-from-map((
    font-size: map-get($meta-font, font-size),
    line-height: map-get($meta-font, line-height),
  ));

  font-family: map-get($meta-font, font-family);
}
