@import "../config/components/wrapper";
@import "../config/fonts";
@import "../config/spacing";

@import "../functions/color";

@import "repetitivo/helpers/respond-to";
@import "repetitivo/helpers/styles-from-map";

@import "../helpers/typography";

//
// Component: PageIntro
// =============================================================================
$component-name: "PageIntro";
$component-base: ".#{$component-name}";

$page-intro-padding-top: (
  default: 90px,
  m: 120px,
);
$page-intro-image-max-width: (
  default: 600px,
  l: 800px,
);

$page-intro-image-offset: -100px;
$page-intro-background-offset-bottom-pre-l: (
  default: 50px,
  s: 60px,
  m: 70px,
);
$page-intro-background-height-pre-l: (
  default: 180px,
  s: 200px,
  m: 220px,
);
$page-intro-text-max-width: (
  default: 500px,
  l: none,
);

#{$component-base} {
  @include styles-from-map((
    margin-bottom: $spacing-hecto-steep,
  ));

  position: relative;

  max-width: calc(#{$wrapper-max-width} + (#{$wrapper-spacing * 2}));

  padding-left: $wrapper-spacing;
  padding-right: $wrapper-spacing;

  margin-left: auto;
  margin-right: auto;

  &::before {
    @include styles-from-map((
      height: $page-intro-background-height-pre-l,
    ));

    content: "";

    position: absolute;

    z-index: -1;

    left: 0;
    bottom: 0;

    width: 100%;

    background: color(neutral, 8);

    @include respond-to(l) {
      content: none;
    }
  }

  // Element: Inner
  // ---------------------------------------------------------------------------
  &-inner {
    @include styles-from-map((
      padding-top: $page-intro-padding-top,
    ));

    @include respond-to(l) {
      position: relative;

      display: flex;
      align-items: center;
    }

    &::before {
      @include respond-to(l) {
        content: "";

        position: absolute;

        z-index: -1;

        left: 100%;
        bottom: 0;

        width: 100%;
        height: 100%;

        background: color(neutral, 8);
      }
    }
  }

  // Element: Text
  // ---------------------------------------------------------------------------
  &-text {
    @include styles-from-map((
      max-width: $page-intro-text-max-width,
    ));

    @include respond-to(l) {
      width: 50%;

      padding-right: $page-intro-image-offset * -1;
    }
  }

  // Element: Label
  // ---------------------------------------------------------------------------
  &-label {
    @include styles-from-map((margin-bottom: $spacing-base-gentle));
  }

  // Element: Heading
  // ---------------------------------------------------------------------------
  &-heading {
    @include typography($untitled-serif, hecto-gentle, tight);
    @include styles-from-map((margin-bottom: $spacing-hecto-gentle));

    font-weight: $normal-font-weight;
  }

  // Element: Image Wrapper
  // ---------------------------------------------------------------------------
  &-imageWrapper {
    @include styles-from-map((
      padding-bottom: $page-intro-background-offset-bottom-pre-l,
    ));

    position: relative;

    @include respond-to(l) {
      width: 50%;

      padding-bottom: 0;

      background: color(neutral, 8);
    }

    &::before {
      @include respond-to(l) {
        content: "";

        position: absolute;

        z-index: -1;

        left: 0;
        bottom: 100%;

        width: 100%;
        height: map-get($page-intro-padding-top, m);

        background: color(neutral, 8);
      }
    }
  }

  // Element: Image
  // ---------------------------------------------------------------------------
  &-image {
    @include styles-from-map((
      max-width: $page-intro-image-max-width,
    ));

    width: 100%;

    margin-left: auto;
    margin-right: auto;

    @include respond-to(l) {
      margin-left: $page-intro-image-offset;
      margin-right: 0;
    }
  }
}
