@import "../config/spacing";

@import "../functions/color";

@import "repetitivo/helpers/styles-from-map";

//
// Component: Section
// =============================================================================
$component-name: "Section";
$component-base: ".#{$component-name}";

#{$component-base} {
  position: relative;
  @include styles-from-map((
    padding-top: $spacing-kilo-gentle,
    padding-bottom: $spacing-kilo-gentle,
  ));

  // Element: Link
  // ---------------------------------------------------------------------------
  &-link {
    color: inherit;

    &:hover {
      color: inherit;
      text-decoration: none;
    }

  }

  // Element: Image Wrapper
  // ---------------------------------------------------------------------------
  &-imageWrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
  }

  // Element: Image Figure
  // ---------------------------------------------------------------------------
  &-imageFigure {
    width: 100%;
    height: 100%;
    margin: 0;
  }

  // Element: Image
  // ---------------------------------------------------------------------------
  &-image {
  }

  // Element: Image Object
  // ---------------------------------------------------------------------------
  &-imageObject {
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: 50% 80%;
  }

  // Element: Content
  // ---------------------------------------------------------------------------
  &-content {

  }

  // Element: Content Inner
  // ---------------------------------------------------------------------------
  &-contentInner {
    margin-left: auto;
    margin-right: auto;

    @include respond-to(s) {
      width: grid-column-width(12, 24);
    }

    @include respond-to(m) {
      width: grid-column-width(18, 24);
    }

    @include respond-to(ml) {
      width: grid-column-width(17, 24);
    }

    @include respond-to(l) {
      width: grid-column-width(14, 24);
    }
  }

  // Element: Label
  // ---------------------------------------------------------------------------
  &-label {
    @include styles-from-map((
      margin-bottom: $spacing-micro-gentle,
    ));
  }

  // Element: Heading
  // ---------------------------------------------------------------------------
  &-heading {
    @include styles-from-map((
      margin-bottom: $spacing-milli-gentle,
    ));
    @include typography($untitled-sans, kilo-steep, tight);
    font-weight: $black-font-weight;

    br {
      display: none;

      @include respond-to(ml) {
        display: inline;
      }
    }
  }

  // Element: Lead
  // ---------------------------------------------------------------------------
  &-lead {
    @include typography($untitled-serif, hecto-gentle, normal);
  }

  // Variant: Centered
  // ---------------------------------------------------------------------------
  &--centered {
    #{$component-base}-contentInner {
      text-align: center;
    }
  }

  // Variant: Inverted
  // ---------------------------------------------------------------------------
  &--inverted {
    color: color(white);
    text-shadow: 0 0 8px rgba(0,0,0,.2);
  }

  // Variant: Hero Image
  // ---------------------------------------------------------------------------
  &--heroImage {
    height: 90vh;

    #{$component-base}-content {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
    }
  }
}
