@import "../config/spacing";

@import "../functions/color";

@import "repetitivo/helpers/styles-from-map";

//
// Component: Section
// =============================================================================
$component-name: "Section";
$component-base: ".#{$component-name}";

#{$component-base} {
  // Variant: White
  // ---------------------------------------------------------------------------
  &--white {
    @include styles-from-map((
      padding-top: $spacing-hecto-steep,
      padding-bottom: $spacing-hecto-steep,
    ));

    background: color(white);
  }

  // Variant: Neutral 10
  // ---------------------------------------------------------------------------
  &--neutral10 {
    @include styles-from-map((
      padding-top: $spacing-hecto-steep,
      padding-bottom: $spacing-hecto-steep,
    ));

    background: color(neutral, 10);
  }

  // Variant: Multiply
  // ---------------------------------------------------------------------------
  &--multiply {
    mix-blend-mode: multiply;
  }
}
