@import "../config/spacing";

@import "../functions/color";
@import "../functions/inverse-map-values";

@import "repetitivo/helpers/styles-from-map";

@import "../helpers/typography";

//
// Component: Teaser
// =============================================================================
$component-name: "Teaser";
$component-base: ".#{$component-name}";

#{$component-base} {
  // Element: Link
  // ---------------------------------------------------------------------------
  &-link {
    color: inherit;

    &:hover {
      color: inherit;
      text-decoration: none;
    }
  }

  // Element: Image
  // ---------------------------------------------------------------------------
  &-image {
    display: block;

    @include styles-from-map((
      margin-bottom: $spacing-milli-gentle,
    ));
  }

  // Element: Label
  // ---------------------------------------------------------------------------
  &-label {
    @include styles-from-map((
      margin-bottom: $spacing-micro-gentle,
    ));

    font-weight: $normal-font-weight;
  }

  // Element: Heading
  // ---------------------------------------------------------------------------
  &-heading {
    @include styles-from-map((
      margin-bottom: $spacing-nano-gentle,
    ));
    @include typography($untitled-sans, hecto-gentle, tight);
    font-weight: $black-font-weight;
  }

  // Element: Body
  // ---------------------------------------------------------------------------
  &-body {
    @include typography($untitled-serif, base-gentle, normal);
  }
}
