{% assign ordered_cases = site.cases | sort: "order" | slice: 0, 4 %}

<div class="Wrapper u-spacingTopKiloGentle">
  <h2 class="u-visibilityHidden">Uppdrag</h2>

  <ul class="Grid Grid--center Grid--padded Grid--compensatePadded u-listReset">
    {% for case in ordered_cases %}
      <li class="Grid-item {% if case.teaser_size == "small" %}Grid-item-m--10-of-24{% endif %}{% unless forloop.index == 1 %} u-spacingTopKiloSteep{% endunless %}">
        <a href="{{ case.url }}" class="Teaser Teaser--{{ case.teaser_size }} Teaser--{{ case.teaser_background }}" style="color: {{ case.color2 }};">
          <div class="Teaser-text">
            <div class="Teaser-label Label">{{ case.client }} ({{ case.year }})</div>

            <h3 class="Teaser-heading">{{ case.teaser_heading }}</h3>

            <div class="Teaser-body">
              {{ case.teaser_body }}
            </div>
          </div>

          <div class="Teaser-media">
            <img src="/images/cases/{{ case.title | slugify: "latin" }}/teaser.jpg" alt="">
          </div>
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
