{% assign ordered_cases = site.cases | where_exp: "item", "item.startpage_order > 0" | sort: "startpage_order" %}

<div class="Wrapper">
  <h2 class="u-visibilityHidden">Uppdrag</h2>

  <div class="Teasers Grid Grid--center Grid--padded Grid--compensatePadded">
    {% for case in ordered_cases %}
      <div class="Teasers-teaser Grid-item {% if case.startpage_size == "small" %}Grid-item-m--10-of-24{% endif %}">
        <a href="{{ case.url }}.html" class="Teaser Teaser--{{ case.startpage_size }}" style="color: {{ case.color3 }};">
          <div class="Teaser-text">
            <h3 class="Teaser-label Label">{{ case.client }} ({{ case.year }})</h3>

            <div class="Teaser-body">
              {{ case.teaser_body }}
            </div>
          </div>

          <div class="Teaser-media">
            <img src="/images/cases/{{ case.title | slugify: "latin" }}/teaser.jpg" alt="">
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
</div>
