{% assign ordered_cases = site.cases | where_exp: "item", "item.startpage_order > 0" | sort: "startpage_order" %}

{% for case in ordered_cases %}
  <div class="Section Section--inverted Section--heroImage">
    <a href="{{ case.url }}" class="">
      <div class="Section-imageWrapper">
        <figure class="Section-imageFigure">
          <picture class="Section-image">
            <source srcset="/images/cases/{{ case.title | slugify: "latin" }}/teaser.jpg 750w" sizes="100vw">
            <img alt="" src="/images/cases/{{ case.title | slugify: "latin" }}/teaser.jpg" class="Section-imageObject">
          </picture>
        </figure>
      </div>
      <div class="Section-content">
        <div class="Wrapper">
          <div class="Grid Grid--center Grid--padded Grid--compensatePadded">
            <div class="Grid-item Grid-item-s--22-of-24 Grid-item-m--18-of-24 Grid-item-ml--17-of-24 Grid-item-l--16-of-24">
              <div class="Label Section-label">{{ case.client }}</div>
              <h1 class="Section-heading">{{ case.intro_heading }}</h1>
              <div class="Section-lead">
                {{ case.teaser_body }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
{% endfor %}
