<div class="Section u-spacingTopKiloSteep">
  <div class="Wrapper">
    <div class="Grid Grid--center Grid--padded Grid--compensatePadded">
      <div class="Grid-item Grid-item-s--22-of-24 Grid-item-m--18-of-24 Grid-item-ml--17-of-24 Grid-item-l--16-of-24 Grid-item-xl--14-of-24">
        <h2 class="SectionHeading">Kunder</h2>
      </div>
    </div>

    <ul class="Clients Grid Grid--center Grid--padded Grid--compensatePadded">
      {% for client in site.clients %}
        <li class="Grid-item Grid-item--8-of-24 Grid-item-s--6-of-24 Grid-item-m--4-of-24 Clients-client" title="{{ client.name }}">
          <h3 class="u-visibilityHidden">{{ client.name }}</h3>

          <div class="Clients-clientInner">
            <div class="Clients-clientInnerInner">
              {% include logotypes/{{ client.name | slugify: "latin" }}.svg %}
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
