<div class="ContactCta">
  <div class="ContactCta-imageWrapper">
    <img src="/images/co-workers/karolina-westerlund.jpg" alt="Porträtt på Karolina Westerlund" class="ContactCta-image">
  </div>

  <div class="ContactCta-text">
    <div class="ContactCta-body">
      {{ page.contact_cta_body }}
    </div>

    <div class="ContactCta-textContact">
      Karolina Westerlund, VD och innehållsstrateg<br>
      073 676 33 40 eller <a href="mailto:karolina@kwdstudio.se">karolina@kwdstudio.se</a>
    </div>
  </div>
</div>
