<footer class="Footer">
  <div class="Wrapper">
    <div class="Footer-inner">
      <ul class="Footer-nav">
        <li class="Footer-navItem"><a href="/tjanster.html" class="Footer-navLink">Tjänster</a></li>
        <li class="Footer-navItem"><a href="/case.html" class="Footer-navLink">Case</a></li>
        <li class="Footer-navItem"><a href="/kontakt.html" class="Footer-navLink">Kontakt</a></li>
        <li class="Footer-navItem"><a href="https://goo.gl/maps/rXM2pAt8Dkx2sGb58" class="Footer-navLink"><span class="u-textNobr">Repslagargatan 17 A,</span> <span class="u-textNobr">118 46 Stockholm</span></a></li>
      </ul>

      <div class="Footer-logotype">
        {% include logotype.html location="footer" %}
      </div>
    </div>
  </div>
</footer>
