{% assign current = page.url | replace: ".html", "" | downcase | split: "/" %}

<header class="Header">
  <div class="Wrapper">
    <div class="Header-inner">
      <div class="Header-logotype">
        {% include logotype.html location="header" %}
      </div>

      <button class="Header-menuToggle MenuToggle" id="MenuToggle">
        <span class="MenuToggle-label MenuToggle-label--open">
          <span class="MenuToggle-LabelText">Meny</span>
        </span>
        <span class="MenuToggle-label MenuToggle-label--close" aria-hidden="true">
          <span class="MenuToggle-LabelText">Stäng</span>
        </span>
      </button>

      <nav id="Menu" class="Header-nav MainNav"{% if page.layout == 'case' %} style="color:{{ page.color3 }};"{% endif %}>
        <ul class="MainNav-list">
          <li class="MainNav-item"><a href="{% link case.html %}" class="MainNav-link"><span class="MainNav-linkInner{% if current[1] == "case" %} is-current{% endif %}">Case</span></a></li>
          <li class="MainNav-item"><a href="{% link jobb.html %}" class="MainNav-link"><span class="MainNav-linkInner{% if current[1] == "jobb" %} is-current{% endif %}">Lediga jobb</span></a></li>
          <li class="MainNav-item"><a href="{% link om-oss.html %}" class="MainNav-link"><span class="MainNav-linkInner{% if current[1] == "om-oss" %} is-current{% endif %}">Om oss</span></a></li>
          <li class="MainNav-item"><a href="{% link kontakt.html %}" class="MainNav-link"><span class="MainNav-linkInner{% if current[1] == "kontakt" %} is-current{% endif %}">Kontakt</span></a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
