{% assign current = page.url | replace: ".html", "" | downcase | split: "/" %}

<header class="Header">
  <div class="Wrapper">
    <div class="Header-inner">
      <div class="Header-logotype">
        {% include logotype.html location="header" gradient_color_1=page.color2 gradient_color_2=page.color3 gradient_color_3=page.color4 %}
      </div>

      <nav class="MainNav" style="color:{{ page.color1 }};">
        <ul class="MainNav-list">
          <li class="MainNav-item"><a href="{% link _pages/tjanster.md %}" class="MainNav-link{% if current[1] == "tjanster" %} is-current{% endif %}">Tjänster</a></li>
          <li class="MainNav-item"><a href="{% link case.html %}" class="MainNav-link{% if current[1] == "case" %} is-current{% endif %}">Case</a></li>
          <li class="MainNav-item"><a href="{% link kontakt.html %}" class="MainNav-link{% if current[1] == "kontakt" %} is-current{% endif %}">Kontakt</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
