<header class="Header">
  <div class="Wrapper Wrapper--bleed">
    <div class="Header-inner">
      <div class="Header-logotype">
        {% include logotype.html %}
      </div>

      <nav class="MainNav" style="color:{{ page.color1 }};">
        <ul class="MainNav-list">
          <li class="MainNav-item"><a href="/tjanster.html" class="MainNav-link">Tjänster</a></li>
          <li class="MainNav-item"><a href="/case.html" class="MainNav-link">Case</a></li>
          <li class="MainNav-item"><a href="/kontakt.html" class="MainNav-link">Kontakt</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
