<div class="Intro">
  <div class="Intro-inner">
    <div class="Intro-imageWrapper">
      <img src="/images/pages/start.jpg" alt="" class="Intro-image">
    </div>

    <div class="Intro-text">
      <div class="Wrapper">
        <div class="Intro-textInner">
          <p>Vi rör oss i gränslandet mellan innehållsdriven marknadsföring och reklam, alltid med målgruppens intressen först. Varje varumärke har sin egen kultur och kontext. Vårt jobb är att förstå och omsätta den kulturen till träffsäker kommunikation.</p>
          <p>PS. Just nu söker vi en <a href="/jobb/digital-marknadsforare">digital marknadsförare!</a> Är det du? :).</p>
        </div>
      </div>
    </div>
  </div>
</div>
