<div class="Intro">
  <div class="Intro-inner">
    <div class="Intro-imageWrapper">
      <img src="/images/pages/start.jpg" alt="" class="Intro-image">
    </div>

    <div class="Intro-text">
      <div class="Wrapper">
        <div class="Intro-textInner">
          <p>Vi hjälper företag att <i>skapa värde med kommunikation</i>. Varje varumärke har sin kontext i samhället. Sin kultur med olika målgrupper, värderingar och uttryck. Vårt jobb är att hitta och förstå den kulturen, och skapa en position där.</p>
        </div>
      </div>
    </div>
  </div>
</div>
