@import "../fonts";

$font-untitled-sans: (
  (
    family: "Untitled Sans",
    files: (
      "/fonts/untitled-sans-regular.woff2",
    ),
    weight: $normal-font-weight,
    style: normal,
  ),
  (
  family: "Untitled Sans",
  files: (
    "/fonts/untitled-sans-bold.woff2",
  ),
    weight: $bold-font-weight,
    style: normal,
  ),
  (
  family: "Untitled Sans",
  files: (
    "/fonts/untitled-sans-black.woff2",
  ),
    weight: $black-font-weight,
    style: normal,
  ),
);
