@import "../fonts";

$font-apercu-mono: (
  (
    family: "Apercu Mono",
    files: (
      "/fonts/apercu-mono.woff2",
      "/fonts/apercu-mono.woff",
    ),
    weight: $normal-font-weight,
    style: normal,
  ),
  (
  family: "Apercu Mono",
  files: (
    "/fonts/apercu-mono-bold.woff2",
    "/fonts/apercu-mono-bold.woff",
  ),
    weight: $bold-font-weight,
    style: normal,
  ),
);
