@import "../config/colors";

html,
body {
  background: map-get($colors, bg);

  @media print {
    background: transparent;
  }
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  > * {
    width: 100%;
  }
}
