$colors: (
  neutral: (-10: #1a1919, -9: #2b2a2a, -8: #3d3b3b, -7: #4e4d4c, -6: #5f5e5d, -5: #716f6e, -4: #82807f, -3: #939190, -2: #a4a3a1, -1: #b6b4b2, 0: #c7c5c3, 1: #cccac8, 2: #d1cfcd, 3: #d6d4d2, 4: #dbd9d7, 5: #e1dedc, 6: #e6e3e1, 7: #ebe8e6, 8: #f0edeb, 9: #f5f2f0, 10: #faf7f5),
  pink: (-10: #1f000f, -9: #330019, -8: #460022, -7: #5a002c, -6: #6e0035, -5: #82003f, -4: #950048, -3: #a90052, -2: #bd005b, -1: #d00065, 0: #e4006e, 1: #e6197c, 2: #e83189, 3: #eb4a97, 4: #ed63a4, 5: #ef7cb2, 6: #f194bf, 7: #f3adcd, 8: #f6c6da, 9: #f8dee8, 10: #faf7f5),

  black: #000,
  white: #fff,
);
