$colors: (
  neutral: (-10: #1a1919, -9: #2b2a2a, -8: #3d3b3b, -7: #4e4d4c, -6: #5f5e5d, -5: #716f6e, -4: #82807f, -3: #939190, -2: #a4a3a1, -1: #b6b4b2, 0: #c7c5c3, 1: #cccac8, 2: #d1cfcd, 3: #d6d4d2, 4: #dbd9d7, 5: #e1dedc, 6: #e6e3e1, 7: #ebe8e6, 8: #f0edeb, 9: #f5f2f0, 10: #faf7f5),
  purple: (-10: #35042d, -9: #3b0534, -8: #41053b, -7: #470642, -6: #4d0649, -5: #530750, -4: #580856, -3: #5e085d, -2: #640964, -1: #6a096b, 0: #700a72, 1: #7e227f, 2: #8c398c, 3: #995199, 4: #a769a6, 5: #b581b4, 6: #c398c1, 7: #d1b0ce, 8: #dec8db, 9: #ecdfe8, 10: #faf7f5),
);
