$colors: (
  green: (-10: #242322, -9: #20312e, -8: #1d403a, -7: #194e47, -6: #165c53, -5: #126b5f, -4: #0e796b, -3: #0b8777, -2: #079584, -1: #04a490, 0: #00b29c, 1: #17b7a3, 2: #2dbdaa, 3: #44c2b1, 4: #5ac8b8, 5: #71cdc0, 6: #87d2c7, 7: #9ed8ce, 8: #b4ddd5, 9: #cae3dc, 10: #e1e8e3),

  black: #000,
  white: #fff,
);
