@import "../functions/color";

@import "./fonts";
@import "./fonts/font-untitled-serif";
@import "./typography-scales/scale-untitled-serif";

$base-font: (
  font-family: ("Untitled Serif", "Times New Roman", serif),
  font-size: map-get($scale-untitled-serif, base-gentle),
  line-height: map-get($scale-untitled-serif-line-height, normal),
);

$repetitivo-fonts: $font-untitled-serif;

//
// Base Font Configuration
// -----------------------------------------------------------------------------
$base-font-family: map-get($base-font, font-family);
$base-font-size: map-get($base-font, font-size);
$base-line-height: map-get($base-font, line-height);
$base-font-weight: $normal-font-weight;
$base-font-feature-settings: '"kern", "liga", "tnum"';
$base-font-color: color(neutral, -9);
$base-font-color-link: color(pink, 0);
$base-font-color-link--hover: color(pink, -5);
$base-text-decoration-link: underline;
$base-text-decoration-link--hover: none;
$base-text-margin-bottom: 1em;

//
// Repetitivo Font Configuration
// -----------------------------------------------------------------------------
$repetitivo-base-font-family: $base-font-family;
$repetitivo-base-font-weight: $base-font-weight;
$repetitivo-base-font-feature-settings: $base-font-feature-settings;
$repetitivo-base-line-height: $base-line-height;
$repetitivo-base-font-size: $base-font-size;
$repetitivo-base-font-color: $base-font-color;
$repetitivo-base-font-color-link: $base-font-color-link;
$repetitivo-base-font-color-link--hover: $base-font-color-link--hover;
$repetitivo-base-text-decoration-link: $base-text-decoration-link;
$repetitivo-base-text-decoration-link--hover: $base-text-decoration-link--hover;
