@import "./colors";
@import "./fonts";

//
// Base Font Configuration
// -----------------------------------------------------------------------------
$base-font-family: "Apercu Mono", monospace;
$base-font-size: (
  default: 15px,
  xs: 16px,
  s: 17px,
  m: 18px,
  l: 19px,
);
$base-line-height: (
  default: 1.5,
);
$smaller-font-size: (
  default: 13px,
  xs: 14px,
  s: 15px,
  m: 16px,
  l: 17px
);
$base-font-weight: $normal-font-weight;
$base-font-feature-settings: '"kern", "liga", "pnum", "onum"';
$base-font-color: map-get($colors, fg);
$base-font-color-link: map-get($colors, primary);
$base-text-decoration-link: underline;

//
// Repetitivo Font Configuration
// -----------------------------------------------------------------------------
$repetitivo-fonts: $apercu-mono;
$repetitivo-base-font-family: $base-font-family;
$repetitivo-base-font-weight: $base-font-weight;
$repetitivo-base-font-feature-settings: $base-font-feature-settings;
$repetitivo-base-line-height: $base-line-height;
$repetitivo-base-font-size: $base-font-size;
$repetitivo-base-font-color: $base-font-color;
$repetitivo-base-font-color-link: $base-font-color-link;
$repetitivo-base-text-decoration-link: $base-text-decoration-link;

//
// Base Metric Font Sizes
// -----------------------------------------------------------------------------
$deca-font-size:  (default: 16px, xs: 18px, s: 20px, m: 22px, l: 24px);
$hecto-font-size: (default: 20px, xs: 21px, s: 22px, m: 23px, l: 24px);
$deca-line-height: 1.1;
$hecto-line-height: 1.5;

//
// Specialized Font Sizes
// ----------------------------------------------------------------------------
$heading-font-size: (
  default: 20px,
  xs: 24px,
  s: 28px,
  m: 32px,
  l: 36px,
);
$heading-margin: (
  default: 20px,
  l: 35px,
);
$heading-line-height: 1.1;
