---
layout: default
---
{% assign ordered_cases = site.cases | sort: "order" | slice: 0, 4 %}

<div style="color: {{ page.color3 }}">
  <div class="PageIntro">
    <div class="PageIntro-inner">
      <div class="PageIntro-innerInner">
        <div class="PageIntro-text">
          <div class="Label PageIntro-label">
            {{ page.client }} ({{ page.year }})
          </div>

          <h1 class="PageIntro-heading">{{ page.intro_heading }}</h1>
        </div>

        <div class="PageIntro-imageWrapper">
          <img class="PageIntro-image" src="/images/cases/{{ page.title | slugify: "latin" }}/featured.jpg" alt="">
        </div>
      </div>
    </div>
  </div>

  <div class="Wrapper Text">
    <div class="Grid Grid--center Grid--padded Grid--compensatePadded">
      <div class="Grid-item Grid-item-s--22-of-24 Grid-item-m--18-of-24 Grid-item-ml--17-of-24 Grid-item-l--16-of-24 Grid-item-xl--14-of-24">
        {{ content }}
      </div>
    </div>
  </div>
</div>

<div class="Wrapper">
  {% include contact_cta.html %}
</div>

<div class="Section Section--neutral10 u-spacingTopKiloSteep">
  <div class="Wrapper">
    <h2 class="SectionHeading">Fler uppdrag</h2>

    <ul class="Grid Grid--center Grid--padded Grid--compensatePadded u-listReset u-spacingTopBaseSteepNeg">
      {% for case in ordered_cases %}
        {% unless page.url == case.permalink %}
          <li class="Grid-item Grid-item-m--8-of-24 u-spacingTopBaseSteep">
            <a href="{{ case.url }}.html" class="Teaser Teaser--small" style="color: {{ case.color3 }};">
              <div class="Teaser-text">
                <div class="Teaser-label Label">{{ case.client }} ({{ case.year }})</div>

                <h3 class="Teaser-heading">{{ case.teaser_heading }}</h3>

                <div class="Teaser-body">
                  {{ case.teaser_body }}
                </div>
              </div>

              <div class="Teaser-media">
                <img src="/images/cases/{{ case.title | slugify: "latin" }}/teaser.jpg" alt="">
              </div>
            </a>
          </li>
        {% endunless %}
      {% endfor %}
    </ul>
  </div>
</div>
