---
layout: default
---

{% include logotype.html %}

<div style="color: {{ page.color2 }}">
  <div class="PageIntro">
    <div class="PageIntro-text">
      <div class="Label PageIntro-label">
        {{ page.client }} ({{ page.year }})
      </div>

      <h1 class="PageIntro-heading">{{ page.intro_heading }}</h1>
    </div>

    <div class="PageIntro-imageWrapper">
      <img class="PageIntro-image" src="/images/cases/{{ page.title | slugify }}/featured.jpg" alt="">
    </div>
  </div>

  <div class="Wrapper Text">
    <div class="Grid Grid--center Grid--padded Grid--compensatePadded">
      <div class="Grid-item Grid-item-m--20-of-24 Grid-item-ml--18-of-24 Grid-item-l--16-of-24">
        {{ content }}
      </div>
    </div>
  </div>
</div>


{% include contact_cta.html %}
