<!doctype html>
<html class="no-js" lang="sv">
  <head>
    <meta charset="utf-8">

    <title>{% if page.title %}{{ page.title }}{% unless page.clean_title %} – KWD Studio{% endunless %}{% endif %}</title>

    <meta name="description" content="{{ page.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if site.prevent_crawling %}
      <meta name="robots" content="noindex, nofollow">
    {% endif %}

    <link rel="stylesheet" href="{{ site.assets_base_url }}/stylesheets/main.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="canonical" href="{{ site.base_url }}{{ page.url }}">

    <script>(function(k,w,d,s,t,u,d,i,o){k[w]=k[w].replace('no-js','has-js')}(document.documentElement,'className'))</script>

    {% if page.image %}
      <meta property="og:image" content="{{ site.base_url }}{{ page.image }}">
    {% else %}
      <meta property="og:image" content="https://kwdstudio.se/images/pages/start.jpg">
    {% endif %}
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:type" content="website">
    <meta property="og:description" content="{{ page.description }}">
    <meta property="og:url" content="{{ site.base_url }}{{ page.url }}">
    <meta property="og:site_name" content="KWD Studio">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@KwdStudio">
  </head>
  <body>
    {% include header.html %}

    {{ content }}

    {% include footer.html %}

    <script src="{{ site.assets_base_url }}/javascripts/application.js" async></script>

    {% unless site.google_analytics_id == "" %}
      <script>
        window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
        ga('create','{{ site.google_analytics_id }}','auto');ga('send','pageview')
      </script>
      <script src="https://www.google-analytics.com/analytics.js" async defer></script>
    {% endunless %}
  </body>
</html>
