<!doctype html>
<html class="no-js" lang="sv">
  <head>
    <meta charset="utf-8">

    <title>KWD Studio</title>

    <meta name="description" content="Vi hjälper våra kunder med innehållsdriven marknadsföring i digitala och sociala kanaler.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ site.assets_base_url }}/stylesheets/main.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="canonical" href="{{ site.base_url }}{{ page.permalink }}">

    <script>(function(k,w,d,s,t,u,d,i,o){k[w]=k[w].replace('no-js','has-js')}(document.documentElement,'className'))</script>

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@KwdStudio" />
    <meta name="twitter:title" content="KWD Studio" />
    <meta name="twitter:description" content="Vi hjälper våra kunder med innehållsdriven marknadsföring i digitala och sociala kanaler." />
    <meta name="twitter:image" content="https://kwdstudio.se/images/kwdlogosquare.jpg"/>

    <meta property="og:image" content="https://kwdstudio.se/images/kwdstudio-logo.png">
    <meta property="og:title" content="KWD Studio">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Vi hjälper våra kunder med innehållsdriven marknadsföring i digitala och sociala kanaler.">
    <meta property="og:url" content="https://kwdstudio.se">
  </head>
  <body>
    {{ content }}

    <script src="{{ site.assets_base_url }}/javascripts/application.js" async></script>

    {% unless site.google_analytics_id == "" %}
      <script>
        window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
        ga('create','{{ site.google_analytics_id }}','auto');ga('send','pageview')
      </script>
      <script src="https://www.google-analytics.com/analytics.js" async defer></script>
    {% endunless %}
  </body>
</html>
