---
layout: default
---

<div class="Wrapper Text">
  <header class="ContentHead">
    <div class="Grid Grid--padded Grid--compensatePadded Grid--center">
      <div class="Grid-item Grid-item-m--22-of-24 Grid-item-ml--20-of-24 Grid-item-l--18-of-24 Grid-item-xl--16-of-24 Grid-item-s--push-1 Grid-item-m--push-3 Grid-item-l--push-2 Grid-item-xl--push-4">
        <h1 class="ContentHead-heading">{{ page.intro_heading }}</h1>

        <div class="ContentHead-lead">{{ page.intro_lead }}</div>
      </div>
    </div>
  </header>

  <div class="Grid Grid--center Grid--padded Grid--compensatePadded">
    <div class="Grid-item Grid-item-s--22-of-24 Grid-item-m--18-of-24 Grid-item-ml--17-of-24 Grid-item-l--16-of-24 Grid-item-xl--14-of-24">
      <div class="Text-body">
        {{ content }}
      </div>
    </div>
  </div>
</div>
