@import "../../functions/scale-map";

$scale-untitled-serif: (
  milli-gentle: scale-map(13px, 1.0079),
  centi-gentle: scale-map(15px, 1.0119),
  deci-gentle:  scale-map(17px, 1.0159),
  base-gentle:  scale-map(19px, 1.0200),
  deca-gentle:  scale-map(21px, 1.0241),
  hecto-gentle: scale-map(24px, 1.0282),
  kilo-gentle:  scale-map(27px, 1.0323),
  mega-gentle:  scale-map(31px, 1.0364),
  giga-gentle:  scale-map(35px, 1.0406),
  tera-gentle:  scale-map(40px, 1.0447),
  peta-gentle:  scale-map(45px, 1.0489),

  milli-steep: scale-map(13px, 1.0021),
  centi-steep: scale-map(15px, 1.0122),
  deci-steep:  scale-map(17px, 1.0223),
  base-steep:  scale-map(19px, 1.0325),
  deca-steep:  scale-map(21px, 1.0428),
  hecto-steep: scale-map(24px, 1.0533),
  kilo-steep:  scale-map(27px, 1.0638),
  mega-steep:  scale-map(31px, 1.0744),
  giga-steep:  scale-map(35px, 1.0852),
  tera-steep:  scale-map(40px, 1.0960),
  peta-steep:  scale-map(45px, 1.1070),
);

$scale-untitled-serif-line-height: (
  normal: scale-map(1.25, 1.0, $round: false),
  tight:  scale-map(1.1, 1.0, $round: false),
);
