@import "../../functions/scale";

$scale-untitled-serif: (
  milli-gentle: scale(13px, 1.0079),
  centi-gentle: scale(15px, 1.0119),
  deci-gentle:  scale(17px, 1.0159),
  base-gentle:  scale(19px, 1.0200),
  deca-gentle:  scale(21px, 1.0241),
  hecto-gentle: scale(24px, 1.0282),
  kilo-gentle:  scale(27px, 1.0323),
  mega-gentle:  scale(31px, 1.0364),
  giga-gentle:  scale(35px, 1.0406),
  tera-gentle:  scale(40px, 1.0447),
  peta-gentle:  scale(45px, 1.0489),

  milli-steep: scale(13px, 1.0021),
  centi-steep: scale(15px, 1.0122),
  deci-steep:  scale(17px, 1.0223),
  base-steep:  scale(19px, 1.0325),
  deca-steep:  scale(21px, 1.0428),
  hecto-steep: scale(24px, 1.0533),
  kilo-steep:  scale(27px, 1.0638),
  mega-steep:  scale(31px, 1.0744),
  giga-steep:  scale(35px, 1.0852),
  tera-steep:  scale(40px, 1.0960),
  peta-steep:  scale(45px, 1.1070),
);

$scale-untitled-serif-line-height: (
  normal: scale(1.35, 1.01, $round: false),
  tight:  scale(1.25, 1.01, $round: false),
);
