@import "../../functions/scale-map";

$scale-pitch-sans: (
  milli-gentle: scale-map(9px,  1.0079),
  centi-gentle: scale-map(10px, 1.0119),
  deci-gentle:  scale-map(12px, 1.0159),
  base-gentle:  scale-map(14px, 1.0200),
  deca-gentle:  scale-map(16px, 1.0241),
  hecto-gentle: scale-map(19px, 1.0282),
  kilo-gentle:  scale-map(23px, 1.0323),
  mega-gentle:  scale-map(27px, 1.0364),
  giga-gentle:  scale-map(31px, 1.0406),
  tera-gentle:  scale-map(37px, 1.0447),
  peta-gentle:  scale-map(43px, 1.0489),

  milli-steep: scale-map(9px,  1.0021),
  centi-steep: scale-map(10px, 1.0122),
  deci-steep:  scale-map(12px, 1.0223),
  base-steep:  scale-map(14px, 1.0325),
  deca-steep:  scale-map(16px, 1.0428),
  hecto-steep: scale-map(19px, 1.0533),
  kilo-steep:  scale-map(23px, 1.0638),
  mega-steep:  scale-map(27px, 1.0744),
  giga-steep:  scale-map(31px, 1.0852),
  tera-steep:  scale-map(37px, 1.0960),
  peta-steep:  scale-map(43px, 1.1070),
);

$scale-pitch-sans-line-height: (
  normal: scale-map(1.5, 1.01, $round: false),
  tight:  scale-map(1.3, 1.01, $round: false),
);
